*, *::after, *::before{
    margin: 0;
    padding: 0;
}

html{
    overflow-y: hidden;
}

#game{
    width: 100vw !important; 
    height: 90vh !important; 
    border-style: solid;
    border-color: #222;
    border-bottom-width: 2px;
    margin-top: 70px;
}