html{
    overflow-y: hidden;
}
#game{
    width: 100vw !important;
    height: 80vh !important;
}

#nav{
    background-color : #000;
}

#btn-div{
    background-color: #fff; 
    border-color: #9394A5;
}